apiVersion: v1
kind: Service
metadata:
  name: udagram-reverseproxy-service
  labels:
    run: udagram-reverseproxy-service
spec:
  ports:
    - port: 8080
      protocol: TCP
  selector:
    run: udagram-reverseproxy-service
